@import "tailwindcss";

@theme {
  --color-surface: #0B0F14;
  --color-accent: #ff8a00;
  --color-heading: #f8f9fa;
  --color-subtext: #a0aec0;
}

@utility container {
  width: 100%;
  margin-inline: auto;
  max-width: 85rem;
  padding-inline: 1.5rem;

  @media (min-width: 40rem) {
    padding-inline: 2.5rem;
  }

  @media (min-width: 100rem) {
    padding-inline: 3rem;
  }
}
